.acpt-meta-field {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 5px;
}

.acpt-meta-field break{
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.acpt-meta-field break{
    display: inline-block;
}

.acpt-meta-field .label {
    font-weight: bold;
}

.acpt-meta-field .acpt-meta-field-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.acpt-meta-field .acpt-meta-field-list li {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 5px;
}

@media only screen and (max-width: 414px) {
    /*.acpt-meta-field {*/
    /*    display: block;*/
    /*}*/
}