<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="tests/test_helper.php"
    colors="true"
    verbose="true"
    reportUselessTests="true"
    >
    <testsuites>
        <testsuite name="ACPT Lite unit test suite">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
