/*========== Colors ==========*/
$primary-color: #003367; //000080
$primary-color-alt: #02c39a; //6411ad
$primary-color-light:#82e2cd;
$success-color: #02c39a;
$warning-color: #ffbe0b;
$danger-color: #f94144;
$info-color: #5390d9;
$native-color: #ae53d9;
$custom-color: #d9c353;
$badge-color: #7e9ebd;
$title-color: #000;
$wp-title-color: #23282d;
$text-color: #444;
$text-color-light: #aaa;
$text-color-lightest: #ddd;
$btn-color: #fff;
$card-bg-color: #fff;
$card-border-color: #f1f1f1;
$white-color: #fff;

/*========== Borders ==========*/
$border-radius: 10px;
$border-thickness: 2px;

/*========== Font and typography ==========*/
$biggest-font-size: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 800;

/*========== Gutter ==========*/
$gutter: 20px;

/*========== Margins ==========*/
$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

.acpt-theme-container {

  /*===== GENERAL =====*/
  .content-area {

    *[draggable] {
      cursor: move !important;
    }

    *[contenteditable="true"] {
      cursor: auto;
      outline: 0 solid transparent;
      border: 0 solid transparent;
    }

    .cursor-move {
      cursor: move;
    }

    .cursor-pointer {
      cursor: pointer;
    }

    @media screen and (max-width: 959px){
      .hidden-xs {
        display: none;
      }
    }

    /*========== RESET ==========*/

    *, ::after, ::before {
      box-sizing: border-box;
    }

    /*========== THEME UI ==========*/

    .acpt-container {

    }

    .acpt-breadcrumb {

      .acpt-breadcrumb-list {
        list-style: none;
        padding: 0;

        li {
          position: relative;
          display: inline-block;

          &.delimiter {
            margin: 0 7px;
          }
        }
      }
    }

    button {
      cursor: pointer;
    }

    .img-placeholder {
      color: $text-color-light;
      background: $text-color-lightest;
      padding: 40px;
      width: 150px;
      height: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }

    .owl-carousel {
      overflow: hidden;
      margin-bottom: $gutter;

      .item img {
        object-fit: cover;
        height: 100%;

        @media screen and (max-width: 767px){
          height: 250px;
        }
      }
    }

    /*========== GRID SYSTEM ==========*/

    .acpt-grid {
      display: grid;
      grid-auto-rows: 1fr;
      gap: $gutter;
      margin-bottom: $gutter;

      &.col-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
      &.col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &.col-3 {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.col-2 {
        grid-template-columns: 1fr 1fr;
      }
      &.col-1 {
        grid-template-columns: 1fr;
      }

      @media (max-width: 767px){
        &.col-6,
        &.col-4,
        &.col-3,
        &.col-2,
        &.col-1 {
          grid-template-columns: 1fr;
        }
      }

      .element {
        height: 100%;
      }
    }

    /*========== FLEX SYSTEM ==========*/

    .acpt-row {
      vertical-align: center;
    }

    .acpt-col {
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    @media (max-width: 767px){
      .acpt-col {
        flex-basis: inherit;
      }

      .acpt-col:not(:last-child) {
        margin-bottom: $gutter;
      }
    }

    .acpt-col, .acpt-col-1, .acpt-col-10, .acpt-col-11, .acpt-col-12, .acpt-col-2, .acpt-col-3, .acpt-col-4, .acpt-col-5, .acpt-col-6, .acpt-col-7, .acpt-col-8, .acpt-col-9, .acpt-col-auto, .acpt-col-lg, .acpt-col-lg-1, .acpt-col-lg-10, .acpt-col-lg-11, .acpt-col-lg-12, .acpt-col-lg-2, .acpt-col-lg-3, .acpt-col-lg-4, .acpt-col-lg-5, .acpt-col-lg-6, .acpt-col-lg-7, .acpt-col-lg-8, .acpt-col-lg-9, .acpt-col-lg-auto, .acpt-col-md, .acpt-col-md-1, .acpt-col-md-10, .acpt-col-md-11, .acpt-col-md-12, .acpt-col-md-2, .acpt-col-md-3, .acpt-col-md-4, .acpt-col-md-5, .acpt-col-md-6, .acpt-col-md-7, .acpt-col-md-8, .acpt-col-md-9, .acpt-col-md-auto, .acpt-col-sm, .acpt-col-sm-1, .acpt-col-sm-10, .acpt-col-sm-11, .acpt-col-sm-12, .acpt-col-sm-2, .acpt-col-sm-3, .acpt-col-sm-4, .acpt-col-sm-5, .acpt-col-sm-6, .acpt-col-sm-7, .acpt-col-sm-8, .acpt-col-sm-9, .acpt-col-sm-auto, .acpt-col-xl, .acpt-col-xl-1, .acpt-col-xl-10, .acpt-col-xl-11, .acpt-col-xl-12, .acpt-col-xl-2, .acpt-col-xl-3, .acpt-col-xl-4, .acpt-col-xl-5, .acpt-col-xl-6, .acpt-col-xl-7, .acpt-col-xl-8, .acpt-col-xl-9, .acpt-col-xl-auto {
      position: relative;
      width: 100%;
      min-height: 1px;
    }

    @media (min-width: 992px){

      .acpt-row {
        display: flex;
        flex-wrap: wrap;
        gap: $gutter;
      }

      .acpt-col-md-2 {
        -ms-flex: 0 0 calc(16.1% - calc(#{$gutter} / 2));
        flex: 0 0 calc(16.1% - calc(#{$gutter} / 2));
        max-width: calc(16.1% - calc(#{$gutter} / 2));
      }

      .acpt-col-md-3 {
        -ms-flex: 0 0 calc(24.67% - calc(#{$gutter} / 2));
        flex: 0 0 calc(24.67% - calc(#{$gutter} / 2));
        max-width: calc(24.67% - calc(#{$gutter} / 2));
      }

      .acpt-col-md-4 {
        -ms-flex: 0 0 calc(33.1% - calc(#{$gutter} / 2));
        flex: 0 0 calc(33.1% - calc(#{$gutter} / 2));
        max-width: calc(33.1% - calc(#{$gutter} / 2));
      }

      .acpt-col-md-6 {
        -ms-flex: 0 0 calc(50% - calc(#{$gutter} / 2));
        flex: 0 0 calc(50% - calc(#{$gutter} / 2));
        max-width: calc(50% - calc(#{$gutter} / 2));
      }

      .acpt-col-md-8 {
        -ms-flex: 0 0 calc(66.666667% - calc(#{$gutter} / 2));
        flex: 0 0 calc(66.666667% - calc(#{$gutter} / 2));
        max-width: calc(66.666667% - calc(#{$gutter} / 2));
      }

      .acpt-col-md-9 {
        -ms-flex: 0 0 calc(75% - calc(#{$gutter} / 2));
        flex: 0 0 calc(75% - calc(#{$gutter} / 2));
        max-width: calc(75% - calc(#{$gutter} / 2));
      }

      .acpt-col-md-12 {
        -ms-flex: 0 0 calc(100% - calc(#{$gutter} / 2));
        flex: 0 0 calc(100% - calc(#{$gutter} / 2));
        max-width: calc(100% - calc(#{$gutter} / 2));
      }
    }

    /*========== COLOR PLACEHOLDER ==========*/

    .acpt-color-placeholder {
      display: inline-block;
      border-radius: 50%;
    }

    /*========== TABLES ==========*/

    .acpt-table-responsive {
      overflow-x: auto;
    }

    .acpt-table {
      border-spacing: 0;
      border-collapse: separate;
      width: 100%;
      font-size: 14px;
    }

    .acpt-table tr {
      padding: 0;
      margin: 0;
    }

    .acpt-table th,
    .acpt-table td {
      padding: calc(#{$gutter} / 1.3) $gutter;
    }

    .acpt-table th {
      text-align: left;
      color: $white-color;
      background: $primary-color;
      border-bottom: $border-thickness solid $primary-color;
    }

    .acpt-table th.grey {
      color: $primary-color;
      background: lighten($primary-color, 75%);
      border-bottom: $border-thickness solid lighten($primary-color, 75%);
    }

    .acpt-table th.backend {
      width: 65%;
    }

    .acpt-table th.frontend {
      width: 35%;
    }

    .acpt-table th .helper {
      color: $white-color;
      cursor: help;
      position: relative;
      top: 3px;
    }

    .acpt-table th .helper svg {
      fill: $white-color;
      width: 18px;
      height: 18px;
    }

    .acpt-table .with-border {
      border-right: 3px solid rgba(0,0,0,0.05);
    }

    .acpt-table.acpt-table-secondary th {
      color: $text-color;
      background: lighten($primary-color, 75%);
      border-bottom: $border-thickness solid rgba(0,0,0,0.05);
    }

    .acpt-table td {
      text-align: left;
      color: $text-color;
      border-bottom: $border-thickness solid $card-border-color;
    }

    .acpt-table td.backend {

    }

    .acpt-table td.backend .hover-links {
      visibility: hidden;
    }

    .acpt-table td.backend:hover .hover-links {
      visibility: visible;
    }

    .acpt-table td.frontend {
      text-align: center;
    }

    .acpt-table td.no-wrap {
      white-space: nowrap;
    }

    .acpt-table td.fixed {
      position: fixed;
    }

    .acpt-table tr:nth-child(even) td {
      background: lighten($primary-color, 77%);
    }

    .acpt-table tr:nth-child(even):hover td,
    .acpt-table tr:hover td {
      color: $primary-color;
      background: lighten($primary-color, 75%);
    }

    /*========== PAGINATION ==========*/

    .acpt-pagination {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      border-radius: $border-radius;
      border: $border-thickness solid $card-border-color;
    }

    .acpt-pagination li {
      list-style: none;
      display: inline-block;
      margin: 0;
    }

    .acpt-pagination li span {
      font-weight: bold;
      color: $title-color;
    }

    .acpt-pagination li a,
    .acpt-pagination li span {
      display: inline-block;
      border-right: $border-thickness solid $card-border-color;
      padding: calc(#{$gutter} / 1.3) $gutter;
    }

    .acpt-pagination li:last-child a,
    .acpt-pagination li:last-child span {
      border: none;
    }

    /*========== LOADERS ==========*/

    .acpt-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .acpt-loading .acpt-loader {
      display: flex;
      align-items: center;
      font-size: $h1-font-size;
    }

    .spinning-icon {
      animation: spinner .8s linear infinite;
    }

    @keyframes spinner {
      to {transform: rotate(360deg);}
    }

    /*========== PREV/NEXT LINKS ==========*/

    .acpt-prevNext {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    /*========== ICONS ==========*/

    .icon-circle-sm{}
    .icon-circle-lg{}

    .icon-circle {
      border: $border-thickness solid $text-color-light;
      border-radius: 100%;
      display: inline-block;
      width: 64px;
      height: 64px;
      line-height: 96px;
    }
  }
}
