.block-editor-block-inspector {

    .components-base-control:last-child {
        width: 100%;
    }

    input.components-range-control__slider {
        position: relative !important;
        width: auto !important;
    }

    .acpt-inline-block {
        display: flex;
        gap: 6px;
        align-items: center;
    }

    .acpt-badge {
        color: #fff;
        padding: 4px 8px;
        border-radius: 3px;
        background: black;
        margin: 0;

        &.acpt-badge-primary {
            background: #007cba;
        }

        &.acpt-badge-success {
            background: #02c39a;
        }

        &.acpt-badge-success-outline {
            background: transparent;
            border: 1px solid #02c39a;
            color: #02c39a;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        &.acpt-badge-secondary {
            background: rgb(50, 50, 50);
        }

        &.acpt-badge-secondary-outline {
            background: transparent;
            border: 1px solid rgb(50, 50, 50);
            color: rgb(50, 50, 50);
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}
