@import "app/variables";
@import "app/scrollbar";

.acpt-container {
  font-weight: 400;
  margin-left: -20px;
  color: $gray;
  font-size: $font-size;
  position: relative;
  min-height: calc(100vh - 32px);

  &.rtl {
    margin-left: 0;
    margin-right: -20px;
    overflow-x: hidden;
  }

  // utils
  @import "app/reset";
  @import "app/utils";

  // components
  @import "app/alerts";
  @import "app/badges";
  @import "app/breadcrumbs";
  @import "app/buttons";
  @import "app/canvas";
  @import "app/cards";
  @import "app/code";
  @import "app/copy";
  @import "app/icons";
  @import "app/icon-picker";
  @import "app/fieldset";
  @import "app/forms";
  @import "app/footer";
  @import "app/grid";
  @import "app/header";
  @import "app/lists";
  @import "app/loader";
  @import "app/main";
  @import "app/modals";
  @import "app/pagination";
  @import "app/steps";
  @import "app/scroll-to-top";
  @import "app/tables";
  @import "app/tabs";
  @import "app/tooltip";
  @import "app/tree";
}