/*========== Colors ==========*/
$header-color: #2c3338;
$gjs-primary-color: #2c3338;
$gjs-sec-color: #3E464B;
$wordpress-primary-color: #2271b1;
$wordpress-primary-color-hover: #135e96;
$pale-blue-color: #d9dfe5;
$primary-color: #003367; //000080
$primary-color-alt: #2271b1; //6411ad
$primary-color-light:#82e2cd;
$success-color: #2271b1;
$warning-color: #ffbe0b;
$danger-color: #f94144;
$info-color: #5390d9;
$native-color: #21759b;
$woocommerce-color: #674399;
$custom-color: #d9c353;
$badge-color: #7e9ebd;
$title-color: #000;
$wp-title-color: #23282d;
$text-color: #444;
$text-color-medium: #66696b;
$text-color-light: #aaa;
$text-color-lightest: #ddd;
$btn-color: #fff;
$card-bg-color: #fff;
$card-border-color: #f1f1f1;
$white-color: #fff;
$warning-text-color: #5f4714;

/*========== Borders ==========*/
$border-radius: 2px;
$border-thickness: 1px;

/*========== Font and typography ==========*/
$biggest-font-size: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

/*========== Font weight ==========*/
$font-medium: 400;
$font-semi-bold: 600;
$font-bold: 700;

/*========== Gutter ==========*/
$gutter: 20px;
$small-gutter: 15px;
$smaller-gutter: 10px;
$mini-gutter: 5px;

/*========== Margins ==========*/
$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

/*========== Shadows ==========*/

$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

/*========== Cards ==========*/

$card-max-width: 1600px;

/*========== Buttons ==========*/

$button-spacing: 8px 16px;