/*========== GENERAL PURPOSE ==========*/

.preview-file {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.button {
    width: fit-content;
}

.acpt-form-control {
    width: 100%;
}

.acpt-flex {
    display: flex;
    align-items: center;
}

.acpt-flex.gap-10 {
    gap: 10px;
}

/*========== META BOXES ==========*/

/* fix for comment meta fields */
#post-body-content .compat-attachment-fields {
    width: 100%;
}

.meta-box-sortables .postbox[id^=acpt_metabox_] > .postbox-header,
.edit-post-meta-boxes-area .postbox[id^=acpt_metabox_] > .postbox-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    background: #f6f7f7 !important;
    padding-left: 36px;
}

.edit-post-meta-boxes-area.is-advanced .meta-box-sortables .postbox[id^=acpt_metabox_] > .postbox-header {
    padding-left: 0;
}

.meta-box-sortables .postbox[id^=acpt_metabox_] > .postbox-header:hover,
.edit-post-meta-boxes-area .postbox[id^=acpt_metabox_] > .postbox-header:hover {
    background: #f6f7f7 !important;
}

.meta-box-sortables .postbox[id^=acpt_metabox_] > .inside,
.edit-post-meta-boxes-area .postbox[id^=acpt_metabox_] > .inside {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
}

.meta-box-sortables .postbox[id^=acpt_metabox_] > .inside table tr:nth-child(odd),
.edit-post-meta-boxes-area .postbox[id^=acpt_metabox_] > .inside table tr:nth-child(odd) {
    background: #fff;
}

.meta-box-sortables .postbox.closed > .inside,
.edit-post-meta-boxes-area .postbox.closed > .inside {
    display: none !important;
}

/*========== OP META BOXES ==========*/

.acpt-postbox h2 {
    background: #f6f7f7;
    position: relative;
    padding-left: 12px !important;
}

.acpt-postbox .postbox-header .handle-actions {
    background: #f6f7f7;
}

.acpt-postbox .inside {
    margin: 0;
    padding: 0;
}

/*========== TAXONOMY META BOXES ==========*/

.taxonomy-meta-box-group h3.taxonomy-meta-box-group-title {
    padding: 10px;
    border-bottom: 1px solid #c3c4c7;
    margin: 0;
    position: relative;
    background: #f6f7f7;
    font-size: 14px;
}

.taxonomy-meta-box-group .taxonomy-meta-fields {
    padding: 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

/*========== ATTACHMENT META BOXES ==========*/

.attachment-meta-fields {
    padding: 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

/*========== OPTION PAGE META BOXES ==========*/

/* Hack for enqueuing WP Editor */
#no-show,
#wp-no-show-wrap {
    display: none;
    height: 0;
}

.option-page-meta-fields-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.acpt-buttons-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

/*========== GRID HELPER ==========*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
    display: grid;
    gap: 10px;
}

.grid-1 { grid-template-columns: 1fr; }
.grid-2 { grid-template-columns: 1fr 1fr; }
.grid-3 { grid-template-columns: 1fr 1fr 1fr; }
.grid-4 { grid-template-columns: 1fr 1fr 1fr 1fr;}
.grid-5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
.grid-6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}

/*========== USER META FIELDS ==========*/

.acpt-user-meta-box {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    max-width: 1400px;
}

.acpt-user-meta-box.no-borders {
    border-radius: 0 4px 4px 4px;
    margin-bottom: 0;
}

.acpt-user-meta-box h3 {
    margin: 0;
    border-bottom: 1px solid #ccd0d4;
    position: relative;
    background: #f6f7f7 !important;
    padding: 10px;
    font-size: 14px;
}

.acpt-user-meta-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

/*========== META FIELDS ==========*/

.acpt-admin-meta-wrapper {
    display: inline-grid;
    align-self: stretch;
}

.acpt-admin-meta {
    background: #fff;
    border: 1px solid #ccd0d4;
    padding: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;
    border-radius: 3px;
    margin: 10px;
}

.acpt-admin-meta-icon {
    width: 64px;
}

.acpt-admin-meta-icon .icon {
    height: 40px;
    width: 40px;
    display: flex;
    text-align: center;
    background: #02c39a;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.acpt-admin-meta-icon .icon svg {
    fill: #fff;
}

.acpt-admin-meta-field-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*max-width: 1024px;*/
}

.acpt-admin-meta-field-wrapper.none,
.acpt-admin-meta-field-wrapper.top {
    flex-direction: column;
}

.acpt-admin-meta-field-wrapper.left,
.acpt-admin-meta-field-wrapper.right {
    gap: 10px;
}

.acpt-admin-meta-label {
    width: 220px;
}

.acpt-admin-meta-field-wrapper.top .acpt-admin-meta-label {
    width: 100%;
}

.acpt-admin-meta-label label {
    font-size: 14px;
    color: #191e23;
    font-weight: bold;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.acpt-admin-meta-label small {
    font-style: italic;
}

.acpt-admin-meta-label .inversed-by {
    color: #aaa;
    margin-top: 5px;
}

.acpt-admin-meta-label .relation {
    margin-bottom: 10px;
}

.acpt-admin-meta-label .relation .relation-label {
    border: 2px solid #aaa;
    color: #aaa;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}

.acpt-admin-meta-label .relation .relation-sign {
    font-weight: bold;
    color: #007cba;
}

.acpt-admin-meta-field {
    width: 100%;
    /*max-width: 1024px;*/
}

.acpt-admin-meta-field .description {
    font-style: italic;
    margin-top: 5px;
    display: block;
}

.acpt-admin-meta-field .acpt-admin-meta-field-input {
    width: 100%;
}

.acpt-admin-meta-field .acpt-admin-meta-field-input:invalid,
.acpt-admin-meta-field .acpt-admin-meta-field-input:invalid:focus {
    border: 1px solid #c62d2d;
    color: #c62d2d;
}

.acpt-admin-meta-field .acpt-admin-meta-field-input-50 {
    width: 49.7%;
}

.acpt-admin-meta-field .btn-wrapper {
    display: flex;
    gap: 4px;
    width: 100%;
}

.acpt-admin-meta-field .btn-wrapper .button,
.acpt-admin-meta-field .btn-wrapper .acpt-admin-meta-field-input {
    margin-right: 4px;
}

.acpt-admin-meta-field .image-preview {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 10px !important;;
    width: 100%;
    overflow: auto;
}

.acpt-admin-meta-field .image-preview .image {
    text-align: center;
    cursor: move;
}

.acpt-admin-meta-field .image-preview .ph-class {
    background: #f6f7f7;
    width: 150px;
    height: 100px;
    padding: 4px;
    border: 1px solid #ccd0d4;
    border-radius: 4px;
}

.acpt-admin-meta-field .image-preview .delete-gallery-img-btn {
    color: #c62d2d;
}

.acpt-admin-meta-field .acpt-reset-map {
    margin-top: 10px;
    display: inline-block;
    color: #c62d2d;
}

.acpt-admin-meta-field .image-preview .image video,
.acpt-admin-meta-field .image-preview .image img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    padding: 4px;
    border: 1px solid #ccd0d4;
    border-radius: 4px;
    margin-top: 10px;
}

.acpt-admin-meta-field .image-preview .image video {
    width: 267px;
    height: 200px;
}

.acpt-admin-meta-field .file-preview {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.acpt-admin-meta-field .embed-preview {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.acpt-admin-meta-field .embed-preview .embed {
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    width: 180px;
    height: 135px;
    object-fit: cover;
    padding: 4px;
    border: 1px solid #7e8993;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.acpt-badge  {
    background: #007cba;
    color: #fff !important;
    display: inline;
    margin-right: 4px;
    min-height: 1px !important;
    padding: 3px 6px !important;
    font-size: 11px;
    border-radius: 4px;
}

.acpt-badge.acpt-badge-success {
    background: #02c39a;
}

.acpt-badge.acpt-badge-danger {
    background: #b02828;
}

.acpt-badge.acpt-badge-warning {

}

.acpt-admin-meta-field .acpt_checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acpt-admin-meta-field .acpt_checkboxes .item {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2px;
}

.acpt-admin-meta-field .acpt_checkboxes .item label {
    font-weight: normal;
}

.acpt-admin-meta-field .acpt_checkboxes .item .related-post {
    display: flex;
    align-items: center;
    gap: 5px;
}

.acpt-admin-meta-field .acpt_checkboxes .item .related-post .cpt {
    background: #007cba;
    color: #fff;
    padding: 4px 6px;
    font-size: 11px;
    border-radius: 4px;
}

.acpt-admin-meta-field .acpt-sortable {
    display: grid;
    gap: 15px;
}

.acpt-admin-meta-field .acpt-sortable .no-records {
    margin: 0;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li {
    display: flex !important;
    align-items: center;
    gap: 10px;
    padding: 15px;
    height: fit-content;
    border-radius: 4px;
    border: 1px solid #ccd0d4;
    position: relative;
    max-inline-size: 100% !important; /* Fix for oxyprops */
}

.sortable-li.sortable-li:nth-child(even){
    background: #efefef;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li:last-child {
    margin-bottom: 0;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li .handle {
    color: #ccd0d4;
    font-weight: bold;
    cursor: grabbing;
    font-size: 24px;
    line-height: 7px;
    position: relative;
    top: -5px;
}

.acpt-admin-meta-field  .sortable-li.sortable-li:nth-child(even) .handle{
    color: #bbb;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li.hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li.ph-class {
    border: 1px solid #02c39a;
}

.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content ,
.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content .w-full,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content .w-full {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sortable-content .option-page-meta-field-wrapper .option-page-meta {
    margin: 0;
}

.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content label,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content label {
    width: auto !important;
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
    font-weight: bold;
}

.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content div.field,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content div.field {
    display: flex;
    align-items: center;
}

.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content div.field.top,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content div.field.top {
    flex-direction: column;
}

.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content div.field .acpt-admin-meta-label,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content div.field .acpt-admin-meta-label {
    width: auto !important;
}

.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content div.field .acpt-admin-meta-label,
.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content div.field label,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content div.field.top .acpt-admin-meta-label,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content div.field.top label {
    width: 100% !important;
}

.acpt-admin-meta-field .acpt-flexible .acpt-sortable li.sortable-li .sortable-content div.field .field-inner,
.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-content div.field .field-inner {
    margin: 5px;
    width: 100%;
}

.acpt-sortable .sortable-placeholder {
    height: 2px !important;
    background: #007cba;
    border:none;
    border-radius: 0 !important;
}

.gallery-preview .sortable-placeholder {
    height: 100px !important;
    width: 150px !important;
    border-radius: 4px;
    border: 1px solid #007cba;
}

/** toggle repeaters feature **/

.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-li_toggle_visibility svg {
    position: relative;
    top: 4px;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li.hidden .button,
.acpt-admin-meta-field .acpt-sortable li.sortable-li.hidden .field,
.acpt-admin-meta-field .acpt-sortable li.sortable-li.hidden .acpt-admin-meta-wrapper,
.acpt-admin-meta-field .acpt-sortable li.sortable-li.hidden .acpt-table {
    display: none !important;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li.hidden .sortable-li_toggle_visibility {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block !important;
}


.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-li_collapsed_placeholder {
    display: none;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li .sortable-li_collapsed_placeholder .label {
    font-weight: bold;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li.hidden .sortable-li_collapsed_placeholder {
    display: block;
    width: 100%;
}

.acpt-admin-meta-field .acpt-sortable li.sortable-li a.sortable-li_toggle_visibility.reverse svg {
    transform: rotate(180deg);
}

.acpt-admin-meta-field .acpt-sortable .sortable-li.sortable-li-active {
    background: #EFF6FC !important;
    border: 1px solid #007CBA !important;
}

/*========== CODEMIRROR ==========*/

.acpt-admin-meta-field .CodeMirror-wrap {
    border: 1px solid #e5e5e5;
    width: 100%;
    border-radius: 4px;
}

.acpt-admin-meta-field .CodeMirror-code {
    padding-left: 18px;
}

.acpt-admin-meta-field .CodeMirror-linenumber {
    left: -31px !important;
}

/*========== CHECKBOX TOGGLE UI ==========*/

input[type="checkbox"].wppd-ui-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width: 36px;
    height: auto;
    vertical-align: middle;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 0 4px;
    background: none;
    box-shadow: none;
}
input[type="checkbox"].wppd-ui-toggle:focus {
    box-shadow: none;
}
input[type="checkbox"].wppd-ui-toggle:after {
    content: '';
    font-size: 8px;
    font-weight: 400;
    line-height: 18px;
    text-indent: -14px;
    color: #ffffff;
    width: 36px;
    height: 18px;
    display: inline-block;
    background-color: #a7aaad;
    border-radius: 72px;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%) inset;
}
input[type="checkbox"].wppd-ui-toggle:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 0;
    border-radius: 50%;
    background-color: #ffffff;
}
input[type="checkbox"].wppd-ui-toggle:checked:before {
    left: 20px;
    margin: 0;
    background-color: #ffffff;
}
input[type="checkbox"].wppd-ui-toggle,
input[type="checkbox"].wppd-ui-toggle:before,
input[type="checkbox"].wppd-ui-toggle:after,
input[type="checkbox"].wppd-ui-toggle:checked:before,
input[type="checkbox"].wppd-ui-toggle:checked:after {
    transition: ease .15s;
}
input[type="checkbox"].wppd-ui-toggle:checked:after {
    content: 'ON';
    background-color: #2271b1;
}

/*========== FLEXIBLE CONTENT ==========*/

.acpt_flexible {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acpt_flexible .acpt_blocks_list {
    margin-bottom: 0;
}

.acpt_flexible .acpt_add_flexible_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.acpt-min-max-counts {
    display: flex;
    gap: 15px;
}

.acpt-min-max-counts.float-right {
    float: right;
    position: relative;
    top: 6px;
}

.acpt-min-max-counts .min,
.acpt-min-max-counts .max {
    color: #aaa;
}

.acpt-min-max-counts .min .count { color: #b02828; }
.acpt-min-max-counts .max .count { color: #2271b1; }

.acpt-acpt_add_flexible_btn {
    display: flex;
    gap: 5px;
    align-items: center;
}

.acpt_flexible .acpt_add_flexible_block .acpt_add_flexible_btn.active svg {
    transform: rotate(180deg);
    transform-origin: 67% 72%;
}

.acpt_flexible .acpt_add_flexible_block .acpt_add_flexible_btn svg {
    fill: #2271b1;
}

.acpt_flexible .acpt_add_flexible_block .acpt_add_flexible_btn:hover svg {
    fill: #0a4b78;
}

.acpt_flexible .acpt_add_flexible_block .acpt_flexible_block_items {
    background: white;
    list-style: none;
    width: auto;
    display: table;
    padding: 0;
    top: 50px;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    min-width: 220px;
    transition:  all ease .3s;
    opacity: 0;
    z-index: -1;
}

.acpt_flexible .acpt_add_flexible_block .acpt_flexible_block_items.active {
    opacity: 1;
    z-index: 11111;
    top: 35px
}

.acpt_flexible .acpt_add_flexible_block .acpt_flexible_block_items li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.acpt_flexible .acpt_add_flexible_block .acpt_flexible_block_items li:hover {
    background: #f0f0f0;
}

.acpt_flexible .acpt_add_flexible_block .acpt_flexible_block_items li:last-child {
    border: none;
}

.acpt_flexible .acpt_blocks_list {

}

.acpt_flexible .acpt_blocks_list .acpt_nested_fields_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acpt_flexible .acpt_blocks_list .acpt_nested_fields_list li {
    margin: 0;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title.no-margin {
    margin-bottom: 0;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    display: flex;
    gap: 5px;
    align-items: center;
    border: none;
    background: transparent !important;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title .acpt_blocks_list_item_icons {
    display: flex;
    gap: 5px;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title .acpt_blocks_list_item_icons a {
    padding: 5px;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #f6f7f7;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title .acpt_blocks_list_item_icons a.acpt_blocks_list_item_delete {
    border: 1px solid #b02828;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title .acpt_blocks_list_item_icons a.acpt_blocks_list_item_toggle_visibility {
    border: 1px solid #2271b1;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title .acpt_blocks_list_item_icons a.acpt_blocks_list_item_toggle_visibility.reverse svg {
    transform: rotate(180deg);
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title .acpt_blocks_list_item_icons a.acpt_blocks_list_item_delete svg { fill: #b02828 }
.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title .acpt_blocks_list_item_icons a.acpt_blocks_list_item_toggle_visibility svg { fill: #2271b1 }

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_title .acpt_blocks_list_item_icons a:hover {
    background: #f0f0f1;
}

.acpt_flexible .acpt_blocks_list .acpt_blocks_list_item_fields {
    width: 100%;
    margin: 0 0 15px;
}

/*========== LIST ELEMENTS ==========*/

.list-wrapper {

}

.list-wrapper .list-element {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-wrapper .list-element input {
    margin: 0;
    width: 100%;
}

.list-wrapper .list-element a {
    margin-left: 4px;
    width: 130px;
    text-decoration: none;
    vertical-align: top;
    border: 1px solid #b02828;
    padding: 5px 10px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    color: #b02828;
    margin-bottom: -1px;
}

.list-wrapper .list-element a:hover
.list-wrapper .list-element a:focus {
    color: #c62d2d;
    border: 1px solid #c62d2d;
}

.list-wrapper #list-add-element {
    margin-top: 10px;
}

/*========== RANGE ==========*/

.acpt-range-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.acpt-range-wrapper .acpt-range {
    width: 300px;
}

.acpt-range-wrapper datalist.acpt-datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 300px;
}

.acpt-range-wrapper datalist.acpt-datalist option {
    padding: 0;
}

.acpt-range-wrapper .acpt-range-value {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

/*========== SELECTIZE ==========*/

.acpt-select2 {
    width: 100%;
}

.acpt-select2 .selectize-dropdown .selected {
    background-color: #007cba;
}

.acpt-select2 .selectize-control.multi .selectize-input [data-value] {
    text-shadow: none;
    border-radius: 4px;
    background-color: #1b9dec;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow:none;
}

.acpt-select2 .selectize-dropdown-content [data-value] {
    padding: 4px 8px;
}

.selectize-dropdown-content [data-value] a.remove,
.selectize-control.multi .selectize-input [data-value] a.remove {
    color: #fff !important;
    text-decoration: none !important;;
    margin-left: 4px !important;
    font-size: 16px;
}

.selectize-control .selectize-input.has-items > div,
.selectize-control.multi .selectize-input > div {
    background-color: #1b9dec;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-shadow: none;
    padding: 4px 8px;
}

.selectize-item {
    position: relative;
    display: inline-flex !important;
    min-width: 250px;
    overflow: hidden;
}

.selectize-dropdown-content .selectize-item {
    display: flex !important;
}

.selectize-item,
.selectize-dropdown  {
    padding: 10px !important;
}

.selectize-item {
    display: flex;
    gap: 5px;
}

.selectize-item .selectize-thumbnail img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.selectize-item .selectize-thumbnail .selectize-thumbnail-no-image {
    display: block;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,.7);
    border-radius: 4px;
}

.selectize-dropdown-content .selectize-item .selectize-thumbnail-no-image {
    background: #bbe1f9;
}

.selectize-item .selectize-details {
    display: flex;
    flex-direction: column;
}

.selectize-item .selectize-details .acpt-badge  {
    background: #007cba;
    color: #fff;
    display: inline;
    margin: 0 auto 4px 0;
    padding: 3px 6px;
    font-size: 11px;
    border-radius: 4px;
    font-weight: bold;
}

.selectize-item a.remove {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.selectize-item.selected .acpt-badge  {
    background: #fff;
    color: #007cba;
}

.selectize-control.single .selectize-input {
    background: #fff !important;
    min-height: 42px;
}

.selectize-control.single .selectize-input > input {
    opacity: 0;
    position: absolute;
    left: 0;
}

/*========== CURRENCY SELECTOR ==========*/

.currency-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
}

.currency-symbol {
    font-weight: bold;
    display: inline-block;
    margin-right: 4px;
}

.currency-selector {

}

.currency-amount {
    text-align: right;
}

.currency-addon {
    width: 6em;
    text-align: left;
    position: relative;
}

/*========== ADDRESS FIELD ==========*/

.acpt_map_preview {
    width: 100%;
    height: 450px;
}

.acpt_map_preview.loading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="none" stroke="%23c3c4c7" stroke-dasharray="15" stroke-dashoffset="15" stroke-linecap="round" stroke-width="2" d="M12 3C16.9706 3 21 7.02944 21 12"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="15;0"/><animateTransform attributeName="transform" dur="1.5s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/></path></svg>');
    background-color: #f6f7f7;
}

.acpt-hide-map {
    position: relative;
    top: -4px;
    margin-left: 10px;
}

.acpt-input-map {
    right: 20px !important;
    left: 10px !important;
    top: 60px !important;
    width: 70% !important;
}

/*========== HELPERS ==========*/

.mb-4 {
    margin-bottom: 4px;
}

.button-danger {
    border: 1px solid #b02828 !important;
    color: #b02828 !important;
}

.button-danger:hover,
.button-danger:focus {
    color: #c62d2d !important;
    border: 1px solid #c62d2d !important;
}

/*========== MEDIA QUERIES ==========*/

@media (max-width: 959px){
    .acpt-admin-meta-icon {
        display: none;
    }

    .option-page-meta-field .acpt-sortable li .sortable-content div.field,
    .acpt-admin-meta-field .acpt-flexible .acpt-sortable li .sortable-content div.field,
    .acpt-admin-meta-field .acpt-admin-meta-field-input {
        width: 100% !important;
    }
}

@media (max-width: 782px){

    .acpt-flex {
        flex-direction: column;
    }

    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 { grid-template-columns: 1fr; }

    .acpt-admin-meta-field .acpt-sortable li .sortable-content div.field,
    .acpt-admin-meta-field .acpt-flexible .acpt-sortable li .sortable-content div.field,
    .acpt-admin-meta-wrapper,
    .acpt-admin-meta-field .acpt-admin-meta-field-input-50,
    .acpt-admin-meta-label,
    .acpt-admin-meta-field {
        display: block;
        width: 100% !important;
    }

    .acpt-admin-meta-label {
        margin-bottom: 10px;
    }

    .acpt-admin-meta-field .image-preview {
        flex-direction: column;
    }

    .acpt-admin-meta-field .image-preview .image video,
    .acpt-admin-meta-field .image-preview .image img {
        width: 100%;
        height: 100%;
    }

    .option-page-meta-field .btn-wrapper,
    .acpt-admin-meta-field .btn-wrapper {
        flex-direction: column;
        gap: 4px;
    }

    .option-page-meta-field-wrapper {
        width: 100% !important;
    }

    .option-page-meta-field.right,
    .option-page-meta-field.left {
        display: block;
    }

    .acpt-admin-meta-field-wrapper {
        flex-direction: column !important;
    }

    .acpt-relation-field-selector {
        display: flex;
        flex-direction: column;
    }

    .acpt-relation-field-selector .options {
        width: 100% !important;
        border-right: none !important;
        border-bottom: 1px solid #ccd0d4;
    }

    .acpt-relation-field-selector .selected-items {
        width: 100% !important;
        align-self: auto;
    }
}

/*========== WORDPRESS ==========*/

.acpt-color-picker {
    background: transparent !important;
}

/*========== WOOCOMMERCE ==========*/

.wc-radios label {
    float: none !important;
    margin-left: 0px !important;
}

/*========== OWL CAROUSEL ==========*/

.acpt-owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}

/*========== PARSLEY ==========*/

.has-errors:hover,
.has-errors:focus,
.has-errors {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #d63638 !important;
}

.acpt-error,
.acpt-error-list {
    margin: 5px 0 0;
    display: block;
    width: 100%;
    color: #d63638;
}

/*========== RELATION SELECTOR ==========*/

.acpt-relation-field-selector {
    border: 1px solid #ccd0d4;
    border-radius: 3px;
    display: flex;
    width: 100%;
}

.acpt-relation-field-selector .options {
    background: white;
    width: 50%;
    border-right: 1px solid #ccd0d4;
}

.acpt-relation-field-selector .options .search {
    padding: 20px;
    border-bottom: 1px solid #ccd0d4;
}

.acpt-relation-field-selector .options .values {
    display: flex;
    flex-direction: column;
    height: 340px;
    overflow-x: auto;
}

.acpt-relation-field-selector .options .values .value {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #ccd0d4;
}

.acpt-relation-field-selector .options .values .value:hover {
    background: #f6f7f7;
}

.acpt-relation-field-selector .selected-items {
    background: #f6f7f7;
    width: 50%;
}

.acpt-relation-field-selector .selected-items .title {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
}

.acpt-relation-field-selector .selected-items h4 {
    margin: 0;
    padding: 0;
}

.acpt-relation-field-selector .selected-items .values {
    overflow-x: auto;
    height: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acpt-relation-field-selector .selected-items .values .value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #ccd0d4;
    background: #fff;
}

.acpt-relation-field-selector .selected-items .values .value .delete svg {
    fill: #c62d2d;
    color: #c62d2d;
}

/*========== intlTelInput ==========*/

.iti {
    display: block !important;
}

/*========== TABS, ACCORDIONS ==========*/

.acpt-admin-vertical-tabs-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-tabs .acpt-admin-vertical-tab {
    background: #fff;
    padding: 10px 20px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    opacity: .7;
    color: #191e23;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-tabs .acpt-admin-vertical-tab.active {
    color: #135e96;
    font-weight: bold;
    position: relative;
    opacity: 1;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-tabs .acpt-admin-vertical-tab.with-borders {
    border: 1px solid #ccd0d4;
    border-right: none;
    right: -1px;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-tabs .acpt-admin-vertical-tab.active:after {
    content: '';
    background: #135e96;
    position: absolute;
    width: 2px;
    height: 100%;
    right: 1px;
    bottom: 0;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-panels {
    width: 100%;
    height: 100%;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-panels .acpt-admin-vertical-panel.with-borders {
    border: 1px solid #ccd0d4;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-panels .acpt-admin-vertical-panel {
    display: none;
}

.acpt-admin-vertical-tabs-wrapper .acpt-admin-vertical-panels .acpt-admin-vertical-panel.active {
    background: #fff;
    border-radius: 0 4px 4px 4px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.acpt-admin-horizontal-tabs-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.acpt-admin-horizontal-tabs {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 1px;
}

.acpt-admin-horizontal-tabs .acpt-admin-horizontal-tab {
    background: #fff;
    padding: 10px 20px;
    border-radius: 4px 4px 0 0;
    opacity: .7;
    color: #191e23;
    cursor: pointer;
}

.acpt-admin-horizontal-tabs .acpt-admin-horizontal-tab.with-borders {
    border: 1px solid #ccd0d4;
    border-bottom: none;
}

.acpt-admin-horizontal-tabs .acpt-admin-horizontal-tab.active {
    color: #135e96;
    font-weight: bold;
    opacity: 1;
    position: relative;
}

.acpt-admin-horizontal-tabs .acpt-admin-horizontal-tab.active:after {
    content: '';
    background: #135e96;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 2px;
}

.acpt-admin-horizontal-panels .acpt-admin-horizontal-panel {
    display: none;
}

.acpt-admin-horizontal-panels .acpt-admin-horizontal-panel.active {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 10px;
}

.acpt-admin-horizontal-panels .acpt-admin-horizontal-panel.with-borders {
    border: 1px solid #ccd0d4;
}

.acpt-admin-accordion-wrapper {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}

.acpt-admin-accordion-wrapper .acpt-admin-accordion-item {
    border-bottom: 1px solid #ccd0d4;
}

.acpt-admin-accordion-wrapper .acpt-admin-accordion-item:last-child {
    border-bottom: none;
}

.acpt-admin-accordion-wrapper .acpt-admin-accordion-item .acpt-admin-accordion-title {
    cursor: pointer;
    color: #191e23;
    opacity: .7;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
}

.acpt-admin-accordion-wrapper .acpt-admin-accordion-item .acpt-admin-accordion-title:after {
    content: "\25bc";
    position: absolute;
    right: 20px;
    color:  #ccd0d4;
}

.acpt-admin-accordion-wrapper .acpt-admin-accordion-item.active .acpt-admin-accordion-title:after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.acpt-admin-accordion-wrapper .acpt-admin-accordion-item.active .acpt-admin-accordion-title {
    color: #135e96;
    opacity: 1;
    border-bottom: 1px solid #135e96;
}

.acpt-admin-accordion-wrapper .acpt-admin-accordion-item .acpt-admin-accordion-content {
    display: none;
}

.acpt-admin-accordion-wrapper .acpt-admin-accordion-item.active .acpt-admin-accordion-content {
    display: block;
}

.acpt-admin-accordion-content .taxonomy-meta-fields {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 10px;
}

/*========== COUNTRY PICKER FIX ==========*/

.acpt-admin-meta-field .country-select {
    display: block;
    width: 100%;
}

.acpt-admin-meta-field .country-select.inside {
    margin: 0 !important;
    padding: 0;
}

.acpt-admin-meta-field .country-select.inside .arrow {
    left: auto;
}

/*========== TABLES ==========*/

.acpt-table-responsive {
    width: 100%;
}

@media screen and (max-width: 960px) {
    .acpt-table-responsive {
        overflow-x: auto;
    }
}

.acpt-admin-meta-field tbody.acpt-sortable {
    display: table;
    width: 100%;
}

.acpt-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

.acpt-table td,
.acpt-table th {
    border: 1px solid  #ccd0d4;
}

.acpt-table th {
    background: #ccd0d4;
    border-color: #bbb;
    color: #1e1e1e;
}

.acpt-table td,
.acpt-table th {
    padding: 10px;
    text-align: left;
}

.acpt-table .sortable-li.sortable-li:nth-child(even) {
    background: #efefef;
}

.acpt-table .sortable-li.sortable-li:nth-child(odd) {
    background: #fff;
}

.acpt-table .acpt-nested-sortable .handle,
.acpt-table .acpt-sortable .handle {
    color: #ccd0d4;
    font-weight: bold;
    cursor: grabbing;
    font-size: 24px;
    line-height: 7px;
    position: relative;
    top: -5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acpt-table .sortable-li.sortable-li:nth-child(even) .handle {
    color: #bbb;
}

.acpt-table .acpt-admin-meta {
    padding: 0;
    border: none;
    margin: 0;
    background: transparent;
}

.acpt-table .acpt-admin-meta .acpt-admin-meta-label {
    display: none;
}

.acpt-table.acpt-vertical-table td {
    background: #fff !important;
}

.acpt-table.acpt-vertical-table th {
    text-align: right;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.acpt-table.acpt-vertical-table th .text-ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}