.acpt-table {
  background: #fff;
  width: 100%;
  border-radius: $border-radius;
  border-spacing: 0;

  &.spaceless {
    th,
    td {
      padding: $space-24 0;
    }

    tr:first-child > th,
    tr:first-child > td {
      padding-top: 0;
    }

    tr:last-child > th,
    tr:last-child > td {
      padding-bottom: 0;
      border: none;
    }
  }

  &.rtl {
    tr, td, th {
      text-align: right;
    }
  }

  tr {
    padding: 0;
    margin: 0;
  }

  th,
  td {
    white-space: nowrap;
    padding: $space-24;
    border-bottom: $border-thickness solid $light-gray;
  }

  th {
    text-align: left;
    color: $primary-color;
    background: $secondary-color;
    border-color: $secondary-color;
    font-weight: bold;
  }

  tbody > tr:last-child td {
    border: none;
  }

  tfoot > tr > td {
    border-top: $border-thickness solid $light-gray;
  }
}
