// @TODO RTL SUPPORT

.tree {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $space-12;

  &:after {
    background: $light-gray;
    bottom: 15px;
    content: "";
    left: 8px;
    position: absolute;
    top: 0;
    width: 1px;
  }

  .tree-el {
    position: relative;
    padding-left: $space-24;

    //$space-36 *

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      background: $light-gray;
      width: $space-12;
      top: 50%;
      left: 8px;
    }
  }
}