/**
 *  BORDER
 */

.with-border {
  border: $border-thickness solid $light-gray;
}

.with-primary-border {
  border: $border-thickness solid $primary-color;
}

.with-active-border {
  border-left: 5px solid $primary-color;
}

.b-top-1 {
  border-top: $border-thickness solid $light-gray;
}

.b-bottom-1 {
  border-bottom: $border-thickness solid $light-gray;
}

.b-rounded {
  border-radius: $border-radius;
}

.with-shadow {
  box-shadow: $box-shadow;
}

.with-drop-shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.b-maxi {
  border: $space-4 solid $secondary-color;
}

.b-secondary {
  border-color: $secondary-color;
}

/**
 *  CURSOR
 */

.cursor-help {
  cursor: help;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: move;
}

/**
 *  BG COLOR
 */

.bg-white {
  background: $white;
}

.bg-pale-gray {
  background: $pale-gray;
}

.bg-light-gray {
  background: $light-gray;
}

.bg-medium-gray {
  background: $medium-gray;
}

.bg-gray {
  background: $gray;
}

.bg-secondary {
  background: $secondary-color;
}

/**
 * FONT SIZE
 */

.font-sm {
  font-size: $small-font-size;
}

.font-regular {
  font-size: $font-size;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.break-spaces {
  white-space: break-spaces;
}

/**
 *  TEXT COLOR
 */

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.color-gray {
  color: $gray;
}

.color-light-gray {
  color: $light-gray;
}

.color-pale-gray {
  color: $pale-gray;
}

.color-danger {
  color: $danger-color;
}

a.color-danger {
  &:hover,
  &:focus {
    color: darken($danger-color, 8%);
  }
}

.color-warning {
  color: $warning-color;
}

a.color-warning {
  &:hover,
  &:focus {
    color: darken($warning-color, 8%);
  }
}

/**
 *  TEXT ALIGN
 */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/**
 *  ELLIPSIS
 */

.text-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

/**
 *  POSITIONING
 */

.sticky {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-1 {
  position: relative;
  top: 1px;
}

.top-2 {
  position: relative;
  top: $space-2;
}

/**
 *  FLEX
 */


.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink {
  flex-shrink: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-end {
  align-items: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.for-xs {
    @media screen and (max-width: 960px){
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.flex-absolute-center {
  display: flex;
  flex-grow: unset;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 0;

  &.for-xs {
    @media screen and (max-width: 960px){
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

.i-flex-center {
  display: inline-flex;
  align-items: center;
  gap: 0;

  &.for-xs {
    @media screen and (max-width: 960px){
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

.justify-center {
  justify-content: center;
}

/**
 * OVERFLOW
 */

.overflow-hidden {
  overflow: hidden;
}

/**
 * COLOR
 */

.color-danger {
  color: $danger-color;
}

.color-info {
  color: $info-color;
}

.color-success {
  color: $success-color;
}

.color-warning {
  color: $warning-color;
}

/**
 *  WIDTH AND SPACING
 */

.fit-content {
  width: fit-content;
}

.max-w-70pc {
  max-width: 70%;

  @media screen and (max-width: 960px){
    max-width: 100%;
  }
}

.max-w-400 {
  max-width: 400px;

  @media screen and (max-width: 400px){
    max-width: 100%;
  }
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-20 {
  width: 40%;
}

.s-4 {
  gap: $space-4;
}

.s-8 {
  gap: $space-8;
}

.s-12 {
  gap: $space-12;
}

.s-24 {
  gap: $space-24;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-4 {
  margin-top: $space-4 !important;
}

.mt-8 {
  margin-top: $space-8 !important;
}

.mt-12 {
  margin-top: $space-12 !important;
}

.mt-24 {
  margin-top: $space-24 !important;
}

.mb-4 {
  margin-bottom: $space-4 !important;
}

.mb-8 {
  margin-bottom: $space-8 !important;
}

.mb-12 {
  margin-bottom: $space-12 !important;
}

.mb-24 {
  margin-bottom: $space-24 !important;
}

.mx-24 {
  margin-left: $space-24 !important;
  margin-right: $space-24 !important;
}

.m-auto {
  margin: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.m-4 {
  margin: $space-4 !important;
}

.m-8 {
  margin: $space-8 !important;
}

.m-12 {
  margin: $space-12 !important;
}

.m-24 {
  margin: $space-24 !important;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: $space-2;
}

.p-4 {
  padding: $space-4;
}

.p-8 {
  padding: $space-8;
}

.p-12 {
  padding: $space-12;
}

.p-24 {
  padding: $space-24;
}

.px-8 {
  padding-left: $space-8;
  padding-right: $space-8;
}

.px-12 {
  padding-left: $space-12;
  padding-right: $space-12;
}

.px-24 {
  padding-left: $space-24;
  padding-right: $space-24;
}

.py-4 {
  padding-top: $space-4;
  padding-bottom: $space-4;
}

.py-8 {
  padding-top: $space-8;
  padding-bottom: $space-8;
}

.py-24 {
  padding-top: $space-24;
  padding-bottom: $space-24;
}

.pl-8 {
  padding-left: $space-8 !important;
}

.pb-24 {
  padding-bottom: $space-24;
}

/**
 *  VISIBILITY
 */

.hidden {
  display: none;
}

.hidden-xs {
  @media screen and (max-width: 960px){
    display: none;
  }
}

.visible-xs {
  display: none;

  @media screen and (max-width: 960px){
    display: block;
  }
}

@media screen and (max-width: 960px){
  .responsive {
    overflow-x: auto;
  }
}

.acpt-code {
  font-family: Monaco, Courier New, monospace;
  background: $pale-gray;
  padding: 2px;
  border: $border-thickness solid $light-gray;
  border-radius: $border-radius;
}

.line {
  width: $space-24;
  height: $border-thickness;
  background-color: $light-gray;
}

.line-separator {
  width: 100%;
  height: $border-thickness;
  background-color: $light-gray;
}
