/*========== Colors ==========*/
$header-color: #2c3338;
$gjs-primary-color: #2c3338;
$gjs-sec-color: #3E464B;
$success-color: #02C39A;
$success-bg: #e7fffa;
$warning-color: #b7922c;
$warning-bg: #FFEAAF;
$danger-color: #F94144;
$danger-bg: #FFDCDC;
$info-color: #A972CA;
$info-bg: #EFE7F3;
$primary-color: #007CBA;
$secondary-color: #EFF6FC;
$white: #fff;
$pale-gray: #f8f8f8;
$light-gray: #ddd;
$medium-gray: #aaa;
$gray: #777;
$black: #131313;

/*========== Borders ==========*/
$border-radius: 4px;
$border-thickness: 1px;

/*========== Font and typography ==========*/
$h1-font-size: 1.35rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$xl-font-size: 2.25rem;
$font-size: .938rem;
$small-font-size: .813rem;
$xs-font-size: .75rem;

/*========== Spacing ==========*/

$space-36: 36px;
$space-24: 24px;
$space-18: 18px;
$space-12: 12px;
$space-8: 8px;
$space-4: 4px;
$space-2: 2px;

$font-weight: 400;

/*========== Shadows ==========*/

$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;